
# ************  Part of java and XML code (check out the .apk file for the full version) ************

# ------------- link: https://play.google.com/store/apps/details?id=com.first.ashraf.hadithreminders -------------

# java
import android.content.Intent;
import android.support.v7.app.AppCompatActivity;
import android.os.Bundle;
import android.view.View;
import android.widget.Button;
import android.widget.ImageButton;

import com.google.android.gms.ads.AdRequest;
import com.google.android.gms.ads.AdView;
import com.google.android.gms.ads.MobileAds;

public class MainActivity extends AppCompatActivity {
    ImageButton button2; // *** define the second Button by making a variable ***
    ImageButton button3; // *** define the second Button by making a variable ***
    ImageButton button4; // *** define the second Button by making a variable ***


    public void OnClickButtonListener(){  // ***** This method allows you to accesses a new page/activity via a button*****
        button2=(ImageButton) findViewById(R.id.buttonList);// *** find and define the second Button by making a variable ***
        button2.setOnClickListener(
                new View.OnClickListener() {
                    @Override
                    public void onClick(View v) {
                        Intent i = new Intent("com.first.ashraf.hadithreminders.MainActivity_List_2"); // *** This is the new page/activity (tools:context=) you get it from the manifest or activity.xml file ***
                        startActivity(i); // *** This is like print and "i" is a variable from the line above it could be changed to something else.
                    }
                }
        );


    }
    public void OnClickButtonListener1(){  // ***** This method allows you to accesses a new page/activity via a button*****
        button3=(ImageButton) findViewById(R.id.buttonSunnah);// *** find and define the second Button by making a variable ***
        button3.setOnClickListener(
                new View.OnClickListener() {
                    @Override
                    public void onClick(View v) {
                        Intent i = new Intent("com.first.ashraf.hadithreminders.Sunnah_Main_Activity"); // *** This is the new page/activity (tools:context=) you get it from the manifest or activity.xml file ***
                        startActivity(i); // *** This is like print and "i" is a variable from the line above it could be changed to something else.
                    }
                }
        );


    }
    public void OnClickButtonListener2(){  // ***** This method allows you to accesses a new page/activity via a button*****
        button4=(ImageButton) findViewById(R.id.buttonSub);// *** find and define the second Button by making a variable ***
        button4.setOnClickListener(
                new View.OnClickListener() {
                    @Override
                    public void onClick(View v) {
                        Intent i = new Intent("com.first.ashraf.hadithreminders.Sublication_Main_Activity"); // *** This is the new page/activity (tools:context=) you get it from the manifest or activity.xml file ***
                        startActivity(i); // *** This is like print and "i" is a variable from the line above it could be changed to something else.
                    }
                }
        );


    }

    public void OnClickButtonListener3(){  // ***** This method allows you to accesses a new page/activity via a button*****
        button4=(ImageButton) findViewById(R.id.buttonQuranic);// *** find and define the second Button by making a variable ***
        button4.setOnClickListener(
                new View.OnClickListener() {
                    @Override
                    public void onClick(View v) {
                        Intent i = new Intent("com.first.ashraf.hadithreminders.QMain2Activity"); // *** This is the new page/activity (tools:context=) you get it from the manifest or activity.xml file ***
                        startActivity(i); // *** This is like print and "i" is a variable from the line above it could be changed to something else.
                    }
                }
        );


    }
    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);
        OnClickButtonListener();
        OnClickButtonListener1();
        OnClickButtonListener2();
        OnClickButtonListener3();

    }
}
 
# XML file (part)
<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    xmlns:ads="http://schemas.android.com/apk/res-auto"
    android:fillViewport="true">
    <RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:paddingBottom="@dimen/activity_vertical_margin"
        android:paddingLeft="@dimen/activity_horizontal_margin"
        android:paddingRight="@dimen/activity_horizontal_margin"
        android:paddingTop="@dimen/activity_vertical_margin"
        android:background="@drawable/p_desing"
        android:descendantFocusability="blocksDescendants">

        <Button
            android:layout_width="210dp"
            android:layout_height="66dp"
            android:id="@+id/button2"
            android:layout_marginTop="-11dp"
            android:background="@drawable/t_name"
            android:layout_alignParentTop="true"
            android:layout_centerHorizontal="true" />

        <ImageButton
            android:layout_width="145dp"
            android:layout_height="60dp"
            android:id="@+id/buttonList"
            android:background="@drawable/list"
            android:layout_marginTop="138dp"
            android:layout_alignParentTop="true"
            android:layout_centerHorizontal="true" />

        <ImageButton
            android:layout_width="190dp"
            android:layout_height="70dp"
            android:background="@drawable/b_sunnah"
            android:layout_marginTop="17dp"
            android:layout_below="@+id/buttonList"
            android:layout_centerHorizontal="true"
            android:id="@+id/buttonSunnah" />


        <Button
            android:layout_width="340dp"
            android:layout_height="66dp"
            android:id="@+id/button3"
            android:layout_marginTop="0dp"
            android:background="@drawable/t_main"
            android:layout_below="@+id/button2"
            android:layout_centerHorizontal="true" />

        <ImageButton
            android:layout_width="160dp"
            android:layout_height="70dp"
            android:background="@drawable/b_quranic"
            android:layout_marginTop="19dp"
            android:id="@+id/buttonQuranic"
            android:layout_below="@+id/buttonSunnah"
            android:layout_centerHorizontal="true" />

        <ImageButton
            android:layout_width="160dp"
            android:layout_height="73dp"
            android:background="@drawable/b_supplications"
            android:id="@+id/buttonSub"
            android:layout_marginTop="19dp"
            android:layout_below="@+id/buttonQuranic"
            android:layout_alignLeft="@+id/buttonQuranic"
            android:layout_alignStart="@+id/buttonQuranic" />


    </RelativeLayout>
</ScrollView>



# Built application files
*.apk
*.ap_

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

# Generated files
bin/
gen/
out/

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Proguard folder generated by Eclipse
proguard/

# Log Files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/

# Intellij
*.iml
.idea/workspace.xml

# Keystore files
*.jks
